.header-fixed {
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
	vertical-align:middle;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
	height: 80px;
	display: none;
}
/* Font */

@font-face {
	font-family: 'DancingScript';
	src: url('fonts/DancingScript-VariableFont_wght.ttf');
}


/* Logo */
.header-fixed .header-limiter h1 {
	float: left;
	font: normal 28px DancingScript, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:15px Arial, Helvetica, sans-serif;
	line-height: 5px;
	float: right;
}

.header-fixed .header-limiter nav ul li{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: white;
	opacity: 0.9;
}

.header-fixed .header-limiter nav ul li :hover{
	opacity:1;
	color:cyan;
}

.header-fixed .header-limiter nav ul li .selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}



/* Making the header responsive */

@media all and (max-width: 690px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav ul li {
		font-size: 16px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}

/*
	 We are clearing the body's margin and padding, so that the header fits properly.
	 We are also adding a height to demonstrate the scrolling behavior. You can remove
	 these styles.
 */
body{
	margin:0 ;
	padding:0;
}




/* Body */
body .main-content{
	width: 88%;
	margin:0 auto;
}