.center {
    width: 50%;
    height: 50%;
    margin: auto;
    text-align:center;
}
.button
{
    width:350px;
    font-size:18px !important;
    margin:10px;
}
.header
{
    text-align:center;
    color: brown;

}